.small-card {
  background-color: var(--card-background);
  min-width: 157px;
  height: 79px;
  border-radius: var(--border-radius-card);
  padding-left: 14px;
  padding-top: 13px;
}

.small-card-row-1 {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px;
  position: relative;
}

.small-card-row-1 img {
  width: 30px;
  height: 26px;
}

.small-card__users-container {
  display: flex;
  padding-left: 16px;
}

.small-card__users-container img {
  width: 18px;
  height: 18px;
}

.small-card__users-in {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-left: -6px;
  border: 1px solid #bec0c8;
}

.small-card__users-in:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  background-color: white;
}

.small-card-row-2 {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.small-card-row-2 h4 {
  font-size: 12px;
  font-weight: 400;
  color: var(--text-h2);
}

.small-card-row-2 p {
  font-size: 8px;
  color: var(--text-secondary-color);
}

.small-card__options {
  position: absolute;
  right: 13px;
  top: 0;
  color: var(--text-secondary-color);
}

@media (max-width: 780px) {
  .small-card-row-1 {
    gap: 0px;
  }
}
